<h2>
  About me
</h2>
<div>
  <p>
    I currently live in San Francisco but was born and raised in the Midwest. I lived in either Wisconin or Ohio for my entire
    life until I graduated college in 2015 and moved to SF to work at Google. I began practicing yoga in April the following
    year. It quickly became a really big part of my life and have practiced every week since then. At one point, I'd practiced
    for 320 consecutive days.
  </p>
  <p>
    In realizing how important yoga was to me, I started to think about training to be a teacher. I joined the CorePower Yoga
    summer TT session in June, 2017 and earned my 200-Hour Yoga Certification two months later. I couldn't be more grateful
    for this experience and I'm so excited to share my passion for yoga with anyone and everyone.
  </p>
  <p>
    While I still consider myself relatively new to Vinyasa and Power yoga, I actually think this helps me be a better teacher
    in many ways. I still remember very well where I was when I first started. I was hardly able to touch my toes, couldn't
    sit in hero, and and was unable to do any arm balances or inversions. I remember what it was like to frequently fall
    out of revolved crescent (and I still fall a lot) and how hard it was to hold downward facing dog for any duration. I'm
    also still working to improve so many aspects of my own practice and am excited to learn along with you.
  </p>
</div>

<h2>
  Credentials
</h2>
<md-list>
  <md-list-item>RYT-200</md-list-item>
  <md-list-item>Yoga Alliance registered</md-list-item> 
  <md-list-item>Yoga teacher liability insured</md-list-item>
</md-list>