<div fxLayout="column" [style.minHeight.%]="100">
  <md-toolbar>
    <a *ngFor="let item of menuItems" md-button [routerLink]="item.link">
      <span>{{item.name}}</span>
    </a>
  </md-toolbar>
  <div class="hero" progressiveBackgroundImage [hq]="activePageData.hero + '.jpg'" [lq]="activePageData.hero + '_preload.jpg'">
    <div style="right:0; position:absolute;">
    </div>
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <div class="hero-text-container" *ngIf="activePageData.header || activePageData.subheader">
        <span class="page-header">
          {{activePageData.header}}
        </span>
        <div class="page-subheader">
          {{activePageData.subheader}}
        </div>
      </div>
    </div>
  </div>
  <div class="my-content" fxFlex="grow">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer></footer>
</div>